html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Yu Gothic", system-ui;
    --theme-color-1: rgb(219, 74, 255);
    --theme-color-2: rgb(121, 255, 242);
    color: #323232;
  }
  
  body {
    color: var(--main-foreground);
    line-height: 1.5;
    background: linear-gradient(rgb(220, 255, 220), rgb(255, 200, 255));
    word-wrap: break-word;
    box-sizing: border-box;
    max-width: 980px;
    margin: 2em auto;
    padding: 0px 30px;
  }

  h1 {
    position: relative;
    text-align: center;
    font-size: 280%;
    padding: 0.2em 0.5em;
    letter-spacing: 0.1em;
  }
  
  .mine {
    position: sticky;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 128%;
    width: 64%;
    box-sizing: border-box;
    background: #ddffee;

  }

  .pic0 {
    border: 4px dashed var(--theme-color-2);
    width: 85%;
    position: sticky;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .pic1 {
    border: 4px dashed var(--theme-color-2);
    width: 30%;
    position: sticky;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2 {
    position: relative;
    font-size: 200%;
    letter-spacing: 0.05em;
    font-weight: normal;
    padding: 0 0 0 1.5em;
    border-bottom: 3px solid var(--theme-color-2);
  }
  


  .item-list {
    display: flex;
    justify-content: space-evenly;
  }
  .item-list .item {
    width: 20%;
    margin: 0;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    background: #ddffee;
  }
  .item-list .item .image {
    margin: 0;
    padding: 0;
  }
  .item-list .item .image img {
    width: 100px;
    height: 100px;
  }
  .item-list .item .title {
    margin: 10px 0 0;
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
  }
  .item-list .item .description {
    margin: 5px 0 0;
    padding: 0 20px;
    font-size: 16px;
  }
  
  
  a {
    text-decoration: none;
    color: var(--theme-color-1);
    cursor: pointer;
    border-bottom: 1.5px dashed;
    transition: background-color 0.5s;
  }
  
  a:hover {
    color: rgb(0, 0, 0);
    background-color: var(--theme-color-1);
    border-radius: 4px;
    border-bottom: none;
  }